# Replace this with your own domain
DOMAIN="budgetify.xyz"

# Replace this with your database connections string
DATABASE_URL="postgresql://postgres:budgetify@localhost:5432/budgetify?schema=public"
# Set this to have prisma output done queries
DATABASE_LOGGING=false
# This secret is used to encrypt passwords. You MUST change it to get secure passwords
# It should be atleast 128 bit long and randomly generated
JWT_SECRET="REALLY_GOOD_SECRET"
BOOKING_KEY="KEY_FOR_RECURRING_PAYMENT_JOB"

# Email Settings
EMAIL_ENABLE=true

# Switch between ethereal test service and actual email provider
EMAIL_ETHEREAL=true

EMAIL_ETHEREAL_HOST="smtp.ethereal.email"
EMAIL_ETHEREAL_USER="name@ethereal.email"
EMAIL_ETHEREAL_PASS="etherealPassword"

EMAIL_HOST="smtp.youremailhoster"
EMAIL_USER="emailUsername"
EMAIL_PASS="emailPassword"